@using CalisVita.Components.Shared
@using CalisVita.Context
@using CalisVita.Model
@inject DatabaseContext DbContext
@inject WorkoutProvider WorkoutProdvider

@page "/Back"

<h3>Back</h3>

<div>
    <p>Hi</p>
</div>

@code
{
   
}
