﻿@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using CalisVita.Model
﻿@using CalisVita.Context
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavigationManager
@inject WorkoutProvider WorkoutProvider


<h3>ExercsieItem</h3>

<div class="col">
    <div class="card h-100  border-dark mb-3" style="max-width: 30rem;">
        <div class="card text-bg-light  h-100">
            <div class="d-flex flex-column flex-sm-row justify-content-between">
                <h5 class="card-title">@Workout.WorkoutName</h5>
                
            </div>
        </div>
    </div>
 </div>

@code {

    public IQueryable<Workout>? Workouts { get; set; }

    [Parameter]
    public Workout Workout { get; set; }



    protected override async Task OnInitializedAsync()
    {
        await GetWorkouts();
    }

    private async Task GetWorkouts()
    {
        Workouts = (await WorkoutProvider.GetAllWorkoutsAsync()).AsQueryable();
    }


}
