﻿@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using CalisVita.Model
﻿@using CalisVita.Context
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavigationManager
@inject WorkoutProvider WorkoutProvider



<div class="row row-cols-1 row-cols-md-3 g-4">
    
        @foreach (var workout in workouts)
        {
        <div class="col">
            <div class="card h-100 border-0 shadow-sm mb-4" style="max-width: 28rem; border-radius: 10px;">
                <div class="card text-bg-light h-100 p-3" style="border-radius: 10px;">
                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between mb-3">
                        <h5 class="card-title fw-bold text-primary">@Workout.WorkoutType</h5>
                        <button class="btn btn-outline-primary btn-sm mt-2 mt-sm-0" @onclick="() => ShowInfo(Workout.WorkoutType)">
                            Info
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
   }
</div>

@code {

    private IEnumerable<string> workouts;

    public Workout Workout { get; set; }


    protected override async Task OnInitializedAsync()
    {
        workouts = await WorkoutProvider.GetWorkoutTypesAsync();
    }

    private void ShowInfo(string workoutType)
    {
        NavigationManager.NavigateTo($"/WorkoutPath/{workoutType}");
    }


   

}
