﻿@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using CalisVita.Model
﻿@using CalisVita.Context
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavigationManager
@inject WorkoutProvider WorkoutProvider

<h3>WorkoutStats</h3>

@code {

}
