@using CalisVita.Components.Shared
@using CalisVita.Context
@using CalisVita.Model
@inject DatabaseContext DbContext
@inject NavigationManager NavigationManager
@inject WorkoutProvider WorkoutProvider
@page "/"



<PageTitle>Home</PageTitle>

<h1>Hello, world! :)</h1>





@code
{
    private IEnumerable<Workout> workouts;

    protected override async Task OnInitializedAsync()
    {
        workouts = await WorkoutProvider.GetAllWorkoutsAsync();
    }

    


}