@using CalisVita.Components.Shared
@using CalisVita.Context
@using CalisVita.Model
@page "/WorkoutPath/{WorkoutType:string}"

@inject WorkoutProvider WorkoutProdvider


@foreach (var workout in workouts)
{
    <div class="col">
        <ExercsieItem Workout="workout"></ExercsieItem>
    </div>
}

@if (workouts is null)
{
    <p>Loading...</p>
}
else if (!workouts.Any())
{
    <p>No cheeses found</p>
}



@code
{
    private IEnumerable<Workout> workouts;

    protected override async Task OnInitializedAsync()
    {
        workouts = await WorkoutProdvider.GetAllWorkoutsAsync();
    }


}
