@using CalisVita.Components.Shared
@using CalisVita.Context
@using CalisVita.Model
﻿@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject DatabaseContext DbContext
@inject WorkoutProvider WorkoutProvider
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavigationManager
@page "/library"



<PageTitle>Library</PageTitle>

<h3>Workout Library</h3>


@foreach (var workout in workouts)
{
    <div class="col">
        <ExercsieItem Workout="Workout"></ExercsieItem>
    </div>
}

@if (workouts is null)
{
    <p>Loading...</p>
}
else if (!workouts.Any())
{
    <p>No workouts found</p>
}

@code {
    private IEnumerable<Workout> workouts;

    public Workout Workout;

    protected override async Task OnInitializedAsync()
    {
        workouts = await WorkoutProvider.GetAllWorkoutsAsync(); 
    }
  
  
}