@using CalisVita.Components.Shared
@using CalisVita.Context
@using CalisVita.Model
﻿@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject DatabaseContext DbContext
@inject WorkoutProvider WorkoutProvider
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavigationManager
@page "/library"



<PageTitle>Library</PageTitle>

<h3>Workout Library</h3>


<ExercsieItem></ExercsieItem>


@code {
    
    

    

    
  
}