@using CalisVita.Components.Shared
@using CalisVita.Context
@using CalisVita.Model
@inject DatabaseContext DbContext
@inject WorkoutProvider WorkoutProdvider

@page "/WorkoutPath/{workouttype}"

@if (Workout.WorkoutType is not null)
{
    <h2 class="card-title">@Workout.WorkoutType</h2>
}
else
{
    <p>No Workouts found for type @Workout.WorkoutType</p>
}


@code
{
    private IEnumerable<Workout> workouts;

    [Parameter]
    public Workout Workout { get; set; }

    protected override async Task OnInitializedAsync()
    {
        workouts = await WorkoutProdvider.GetAllWorkoutsAsync();
    }

}
